@charset "utf-8";
/* CSS Document */
* {
	cursor:auto;
	font-family: Verdana, Geneva, sans-serif;
}
body {
	background-color: #424549;
	font-family:Verdana, Geneva, sans-serif;
	
}


#html_box {
	background-color: #7289da;
	float: center;
	border: none;
	width:32%;
	resize: none;
}


#css_box {
	background-color: #7289da;
	border: none;
	width:32%;
	resize: none;
} 

#js_box {
	background-colour: #7289da;
	border: 100px;
	width:32%;
	resize: none;
}
	

#main {
	position:static;
	left:950px;
	top:50px;
	height:700px;
	width:100%;
	background-color: #7289da;
	border:1px solid #FFF;
	font-size:25px;
	overflow-style:marquee-block;
}


