@charset "utf-8";
/* CSS Document */
* {
	cursor:auto;
	font-family: Verdana, Geneva, sans-serif;
}
body {
	background-color: #424549;
	font-family:Verdana, Geneva, sans-serif;
	
}


#html_box {
	background-color: #7289da;
	border: 100px;
}


#css_box {
	background-color: #7289da;
	border: 100px;
	
} 

#main {
	position:static
	left:800px;
	top:50px;
	height:700px;
	width:500px;
	background-color: #7289da;
	border:1px solid #FFF;
	font-size:25px;
	overflow-style:marquee-block;
}


